
@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}



@media (min-width: 992px) {
  .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

@media (max-width: 991px) {
  .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}



.butt:hover {
  opacity:1;
}

.d {
    color: #004501;

}


.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
  color: white;
  font-weight: 400;

}


.cancelbtn {
  background-color: green;
  color: white;
}


.deletebtn {
  background-color: #f44336;
}

.text{
  color: black;
  text-decoration: none;
}
.container-modall {
  padding: 16px;
  text-align: center;
}



.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  margin-top: 20%;
  border: 3px solid black;
  border-radius: 10%;
  width: 30%;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}
