#navvbarr{
    background-color: rgb(24, 188, 24);
}
.u-button{
    border: none;
    background: transparent;
}
.username, .logout ,.nav-cart ,.total{
    border: none;
    background: transparent;
    text-decoration: none;
    color: rgb(0, 123, 64);
}
.navbar-brand img{
    width: 30px;
}
.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--lg-font);
}
.nav-link:active{
    color: rgb(0, 123, 64);
}
.nav-link:hover{
    color: rgb(17, 255, 0);
}
.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}