.preview{
    border: 1px solid rgb(60, 60, 3);
    border-radius: 10px;
    
}
.preview > img {
  width: 100%;
  height: 100%;
}
#filePreview{
  height: fit-content;
  width: fit-content;
}

.text-body{
  text-decoration: none;
  color: white;
}

#nameErrorMsg, #emailErrorMsg, #descErrorMsg, #pickErrorMsg {
  color:red;
  text-align: center;
  font-size: 12px;
  padding-bottom: 20px;
}

.a , .mr-2{
  text-align: left;
  font-size: large;
  font-weight: 400;
  color: rgb(1, 25, 1);
}