


 .product-card {
     
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #ffffff;
}
.send{
    border: none;
    background: rgb(0, 35, 0);
    color: #dfdfdf;
    margin-top: 17px;
    border-radius: 10px;
}
.paperplane{
    color: white;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: rgb(5, 62, 0);
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 50px;
    background: #d2f9e2;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(0, 43, 7);
    margin-bottom: 18px;
}
.pd{
    font-size: 20px;
    font-weight: 700;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.h4 {
    color: #114500;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: rgb(0, 37, 12);
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid rgb(12, 37, 1);
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-wad {
    font-size: 18px;
    color: #073000;
    font-weight: 600;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #013923;
}  


