
.product-card {
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #ffffff;
}
.send {
    border: none;
    background: rgb(0, 35, 0);
    color: #dfdfdf;
    margin-top: 22px;
    border-radius: 10px;
}

.paperplane {
    color: white;
}
.row-list:active{
    color: green
}
.row-list{
    
    font-weight: 600;
    font-size: large;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: rgb(5, 62, 0);
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 50px;
    background: transparent;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(0, 43, 7);
    margin-bottom: 18px;
}
.pd{
    font-size: 20px;
    font-weight: 700;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.h4 {
    color: #114500;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: rgb(0, 37, 12);
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid rgb(12, 37, 1);
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-wad {
    font-size: 18px;
    color: #073000;
    font-weight: 600;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #013923;
}  
.text-reserved {
    margin-top: 1rem;
}


@media (max-width: 1200px) {
    .product-catagory{
        word-break: break-all;
    }
  }


  .pageinfo{
    height: 100vh;
    width: 100%;
    background-image: url('/static/images/bg.png');
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }
  .pageinfocard{
    height: 80vh;
    width: 100%;
    background-image: url('/static/images/cardbg.png');
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
  
  }

  .pageinfo > div > h4 {
    padding-top: 20%;
  }

  .collectionss{
    padding-top: -10px;
  }

  .coll-btn:hover{
    background: #000;
    color: white;
  }


  .carduh{
    border-radius: 80px;
    
  }