body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(241, 93%, 12%);
}

.box-element{
	box-shadow:hsl(0, 0%, 0%) 0 0 16px;
	background-color: rgb(123, 123, 123);
	border-radius: 4px;
	padding: 10px;
}


.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgb(5, 5, 5);
    -moz-box-shadow: -1px -3px 5px -2px rgb(2, 2, 2);
    box-shadow: -1px -3px 5px -2px rgb(0, 0, 0);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #06002e!important;
}

.price {
    float: right;
}
.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}




.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}



.hidden{
	display: none!important;
}