{% extends 'store/main.html' %} {% load static %} {% block content %}
<section class="h-100 h-custom mt-4" style="background-color: #01200f">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div
          class="card card-registration card-registration-2"
          style="border-radius: 15px"
        >
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div
                    class="d-flex justify-content-between align-items-center mb-5"
                  >
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">Items</h6>
                  </div>
                  <hr class="my-4" />

                  {% for item in items %}
                  <div
                    class="row mb-4 d-flex justify-content-between align-items-center"
                  >
                    <!-- <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="/{{ product.image }}"
                        class="img-fluid rounded-3"
                        alt=""
                      />
                    </div> -->
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-black mb-0">{{item.product.name}}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <input
                        id="form1"
                        min="0"
                        name="quantity"
                        value="1"
                        type="number"
                        class="form-control form-control-sm"
                      />
                    </div>

                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <button  class = "butt" onclick="document.getElementById('id01').style.display='block'"> <i class="d fa fa-trash"></i></button>

                    <div id="id01" class="modal">
                      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                      <form class="modal-content" >
                        <div class="container">
                          <h1>Delete Account</h1>
                          <p>Are you sure you want to delete {{item.product.name}}?</p>

                          <div class="clearfix">
                            <button type="button" class="cancelbtn">
                              <a class = "text" href="{% url 'cart'  %}">
                                Cancel
                               </a>
                            </button>
                            <button type="button" class="deletebtn">
                              <a class = "text" href="{% url 'deleteListedItem'  item.product.id %}">
                                <i
                                data-product="{{item.product.id}}"
                              >
                              </i>
                              
                              Delete</button>
                             </a>
                          </div>
                        </div>
                      </form> 
                     </div>
                      <!-- <a
                        href="{% url 'deleteCartItem' item.product.id  %}"
                        class="text-muted"
                      >
                        <i
                          data-product="{{item.product.id}}"
                          class="fa fa-times "
                        >
                        </i>
                      </a> -->
                    </div>
                  </div>
                  {% endfor %}

                  <hr class="my-4" />
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">
                    You have reserved {{order.get_cart_items}} items
                  </h3>

                  <hr class="my-4" />

                  <button type="button" class="btn btn-success">
                    <a class="text-body" href="{% url 'store' %}"
                      >Back to shop</a
                    >
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'Footer/footer.html'%} {% endblock content %}
