{% extends 'store/main.html' %}
{% load static %} 
{% block content %}

<section class="h-100 h-custom mt-4" style="background-color: #01200f">
  <form
    action="myprofile/updatelisteditem/{{item2.id}}"
    ,
    method="POST"
    enctype="multipart/form-data"
    class="container py-5 h-100"
  >
    {% csrf_token %}
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div
          class="card card-registration card-registration-2"
          style="border-radius: 15px"
        >
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="form-group">
                    <label>Item Name</label>
                    <input
                      type="text"
                      name="itemname"
                      class="form-control"
                      id="itemname"
                      placeholder="Enter item name"
                      required="required"
                      value="{{item2.name}}"
                    />
                  </div>
                  <div class="form-group">
                    <label required="required">Email address</label>
                    <input
                      type="email"
                      name="listed_by"
                      class="form-control"
                      id="Email1"
                      aria-describedby="emailHelp"
                      placeholder=" Email"
                      value="{{item2.listed_by.email}}"
                    />
                  </div>
                  <div class="form-group">
                    <label>Item Description</label>
                    <textarea
                      placeholder="Describe the condtion of the respective item"
                      name="description"
                      class="form-control"
                      id="Description"
                      placeholder="Description"
                      value="{{item2.description}}"
                    >
                    </textarea>
                  </div>
                  <div class="form-group">
                    <label required="required">Wallet Address</label>
                    <input
                      type="text"
                      name="walletaddress"
                      class="form-control"
                      id="walletaddress"
                      placeholder="Wallet Address"
                      value="{{item2.wallet_address}}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1" required="required"
                      >Pickup Address</label
                    >
                    <input
                      type="text"
                      name="pickupaddress"
                      class="form-control"
                      id="pickupaddress"
                      placeholder="Pick up Address"
                      value="{{item2.pickup_address}}"
                    />
                  </div>
                  <hr />
                  <div class="form-group mt-3">
                    <label class="mr-2">Upload Item's image</label>
                    <input
                      type="file"
                      name="image"
                      value="{{item2.image}}"
                      id="fileip"
                      accept="/image/*"
                      onchange="showPreview(event);"
                    />
                  </div>
                  <hr />
                  <button type="submit" value="save" class="btn btn-success">
                    <a href="{% url 'myprofile'  %}">
                    
                  </a>
                  Update
                  </button>

                  <hr class="my-4" />

                  <div class="pt-5">
                    <h6 class="mb-0">
                      <a href="{% url 'store' %}" class="text-body"
                        ><i class="fa fa-long-arrow-alt-left me-2"></i>Back to
                        shop</a
                      >
                    </h6>
                  </div>
                </div>
              </div>
              <div class="preview col-lg-4 pt-5">
                  <div class="row-lg-4">
                  <img src="/{{item2.image}}" alt="" id="filePreview" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <script type="text/javascript">
    function showPreview(event) {
      if (event.target.files.length > 0) {
        var src = URL.createObjectURL(event.target.files[0]);
        var preview = document.getElementById("filePreview");
        preview.src = src;
        preview.style.display = "auto";
      }
    }
  </script>
</section>

{% endblock content %}
