{% extends 'store/main.html' %}
{% load static %} 
{% block content %}

  
<main id="main">

    <body>
      <header class="header">
        <div class="container">     
	        <div class="row align-items-center">
			    <div class="col">      
                {% load static %}   
		            <img class="profile-image img-fluid float-start rounded-circle" src="{% static 'images/stewie.png'%}" alt="profile image" />
		            <div class="profile-content">
		                <h1 class="name">{{request.user.username}}
                    </h1>
		                <h2 class="desc">{{request.user.email}}

                    </h2>   
		                
		            </div>
			    </div>
	            
	        </div>        
        </div>
    </header>
    

     <section id="collection" class="py-5">
        
        <h2 class="title"> ITEMS YOU LISTED</h1>
        <div class="container">
          <div class="shop-cards">

            <div class="row">
              {% for product in products %}
              <div class="col-md-4">
                <div class="block1 product no-border z-depth-2-top z-depth-2--hover">
                  
                  <div class="block-image1">
                    <a href="">
                  
                      <img src="/{{ product.image }}" />
                      
                    </a>
                  </div>
                  <div class="block-body1 text-center">
                    <h3 class="heading ">
                      <a class="heading1" href="#"> {{product.name}} </a>
                    </h3>
                    <button class = "delete">
                      <a href="{% url 'deleteListedItem' product.id %}" >
                        <i class="d fa fa-trash"></i>                      
                      </a>
                         
                    </button>
                    <button class = "edit">
                      <a href="editlisteditem/{{product.id}}" >               
                        <i class="d fa fa-edit"></i>
                      </a>
                         
                    </button>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </section> 
      {% include 'Footer/footer.html'%}

{% endblock content %}