{% extends 'store/main.html' %}
{% load static %}
{% block content %}


<main id="main">

  <body>
    <header class="header">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            {% load static %}
            <img class="profile-image img-fluid float-start rounded-circle" src="{% static 'images/stewie.png'%}"
              alt="profile image" />
            <div class="profile-content">
              <h1 class="name">{{request.user.username}}
              </h1>
              <h2 class="desc">{{request.user.email}}

              </h2>

            </div>
          </div>

        </div>
      </div>
    </header>


    <section id="collection" class="py-5">

      <h2 class="title"> ITEMS YOU LISTED</h1>
        <div class="container">
          <div class="shop-cards">

            <div class="row">
              {% for product in products %}
              <div class="col-md-4">
                <div class="block1 product no-border z-depth-2-top z-depth-2--hover">

                  <div class="block-image1">
                    <a href="">

                      <img src="/{{ product.image }}" />

                    </a>
                  </div>
                  <div class=" block-body1 text-center">
                    <h3 class="heading ">
                       {{product.name}} 
                    </h3>

                    <p class="mt-3">{{product.description}}</p>
                    
                    

                    
                    <button  class = "butt mt-3" onclick="document.getElementById('id01').style.display='block'"> <i class="d fa fa-trash"></i></button>

                    <div id="id01" class="modal">
                      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                      <form class="modal-content" >
                        <div class="container">
                          <h1>Delete Account</h1>
                          <p>Are you sure you want to delete {{product.name}}</p>

                          <div class="clearfix">
                            <a href="{% url 'myprofile'  %}">
                            <button type="button" class="cancelbtn">
                                Cancel
                              </button>
                            </a>
                            <a href="{% url 'deleteListedItem' product.id %}">
                            <button type="button" class="deletebtn">
                              Delete
                            </button>
                            </a>
                          </div>
                        </div>
                      </form> 
                     </div>

                    <button class="edit btn btn-primary">
                      <a href="editlisteditem/{{product.id}}">
                        <i class="d fa fa-edit"></i>
                      </a> 

                    </button>

                    {% if product.is_reserved %}
                    <h3>Reserved by {{product.reserved_by}}</h3>
                    {% endif %}

                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
    </section>
    {% include 'Footer/footer.html'%}

    {% endblock content %}