{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<header id="header">
 

  <img src="{% static 'images/bg.png' %}" style="max-width: 100%; height: auto" alt="">
</header>
<section id="collection" class="py-5">
  <div class="container">
    <div class="shop-default shop-cards shop-tech">
      <div class="row">
        {% for product in products %}
        <div class="col-md-4">
           <div class="product-card ">
          <div class="product-tumb">
            <img src="/{{ product.image }}" />
          </div>
          <div class="product-details">
            
            <h4 ><a class = "h4" href=""> {{product.name}}</a></h4>
            <p class="pd" >{{product.description}}</p>
            <p>Wallet Address:</p>
            <span class="product-catagory">{{product.wallet_address}}</span>
            <div class="product-bottom-details">
              <div class="product-wad">
                <button class = "send" value="Connect" onclick="Connect()">
                  <i class="paperplane fa fa-paper-plane"></i>
                  Send a tip</button>
              </div>
              <div class="product-links">
                <button
                data-product={{product.id}}
                data-action="add"
                class="btn btn-primary mt-3 update-cart"
                style="border-radius: 20px; background-color: rgb(0, 39, 0)"
              >
            <i class="cart fa fa-shopping-cart"></i>
            </button>
              </div>
            </div>
          </div>
        </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% include 'Footer/footer.html'%}


{% endblock content %}
